
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OP Coursework</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
{#    <link href="css/form-validation.css" rel="stylesheet">#}
    <link href="css/Title.css" rel="stylesheets">
    <h1 aria-label="Hello"></h1>
  </head>

  <body class="bg-light">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-4481610-59', 'auto');
  ga('send', 'pageview');

</script>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39705265 = new Ya.Metrika({ id:39705265, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39705265" style="position:absolute; left:-9999px;" alt="Yandex.Metrika" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="#" class="navbar-brand">
            <img src="https://qph.fs.quoracdn.net/main-qimg-28cadbd02699c25a88e5c78d73c7babc" width="30" height="30" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a href="#" class="nav-link">Home</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png" alt="" width="72" height="72">
          <p class="lead">This is a coursework of Programming Basics by Shakhov Mykhailo And Ihor Titov</p>
      </div>
    </div>

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Fill In Data</h4>
      <form class="needs-validation" novalidate action="/propositions" method="post">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="arr_date">Enter Arrival Date</label>
            <select class="custom-select d-block w-100" name="arr_date" id="arr_date" required>
{#              <option disabled selected value="">Enter Departure Date</option>#}
                  {% for date in dates %}
              <option value="{{ date }}">{{ date }}</option>
                    {% endfor %}
            <div class="invalid-feedback">
              Valid arrival date is required.
            </div>
            </select>
          </div>
        </div>
          <div class="row">
          <div class="col-md-6 mb-3">
            <label for="dep_date">Enter Arrival Date</label>
              <select class="custom-select d-block w-100" name="dep_date" id="dep_date" required>
{#              <option disabled selected value="">Enter Arrival Date</option>#}
                  {% for date in dates %}
              <option value="{{ date }}">{{ date }}</option>
                    {% endfor %}

            </select>
{#            <input type="text" class="form-control" name="dep_date" id="dep_date" placeholder="" value="" required>#}
            <div class="invalid-feedback">
              Valid departure date is required.
            </div>
          </div>
          </div>



        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="resort_type">Resort Type</label>
            <select class="custom-select d-block w-100" name="resort_type" id="resort_type" required>
              <option disabled selected value="">Enter The Type</option>
              <option value="sea resorts">Sea Resorts</option>
              <option value="ski resorts">Ski Resorts</option>
              <option value="cultural resorts">Cultural Resorts</option>

            </select>
            <div class="invalid-feedback">
              Please select a valid type.
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <select class="custom-select d-block w-100" name="city" id="city" required>
              <option disabled selected value="">Enter Your City</option>
              {% for i in info %}}
              <option value={{ i.split(', ')[0] }}>
                {{i.split(', ')[1]}}, {{ i.split(', ')[2] }}
              </option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid city.
            </div>
          </div>


          <div class="col-md-4 mb-3">
            <label for="Currency">Currency</label>
            <select class="custom-select d-block w-100" name="Currency" id="Currency" required>
              <option value="">Enter Currency</option>
              {% for currency in currencies %}
              <option value="{{currency}}">
                {{currency}}
              </option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please provide a valid currency.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="price">Price</label>
            <input value="0" type="text" class="form-control" name="price" id="price" placeholder="" required>
          </div>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
      </form>
    </div>


  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019-2020 OP Coursework</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{#<script>window.jQuery || document.write('<script src="/docs/4.3.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>#}

</body>
</html>