<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_f0780206fdcf4ba1a98182bf979cb4ac {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_f0780206fdcf4ba1a98182bf979cb4ac" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_f0780206fdcf4ba1a98182bf979cb4ac = L.map(
        'map_f0780206fdcf4ba1a98182bf979cb4ac', {
        center: [50.0874654, 14.4212535],
        zoom: 12,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_1c2768cc351840c2af9628167bb73cbd = L.tileLayer(
        'https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_f0780206fdcf4ba1a98182bf979cb4ac);
    
        var marker_70dae6b274ff438fa750a51a77ef0612 = L.marker(
            [49, 24],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f0780206fdcf4ba1a98182bf979cb4ac);
        
    

                var icon_2e7f563c62314bbb8ad33f6a5d6fe704 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_70dae6b274ff438fa750a51a77ef0612.setIcon(icon_2e7f563c62314bbb8ad33f6a5d6fe704);
            
    
            var popup_5a0abd11d47749aba2f2ba724638f3f0 = L.popup({maxWidth: '100%'
            
            });

            
                var html_9071628aae5845d1b173cc303a293c4b = $(`<div id="html_9071628aae5845d1b173cc303a293c4b" style="width: 100.0%; height: 100.0%;">Lviv</div>`)[0];
                popup_5a0abd11d47749aba2f2ba724638f3f0.setContent(html_9071628aae5845d1b173cc303a293c4b);
            

            marker_70dae6b274ff438fa750a51a77ef0612.bindPopup(popup_5a0abd11d47749aba2f2ba724638f3f0)
            ;

            
        
    
        var marker_082f019584d24848b1905d93ac710a5a = L.marker(
            [50, 14],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_f0780206fdcf4ba1a98182bf979cb4ac);
        
    

                var icon_43e3d29c049f4bf29dc1deb7172fffdf = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_082f019584d24848b1905d93ac710a5a.setIcon(icon_43e3d29c049f4bf29dc1deb7172fffdf);
            
    
            var popup_90b9e3052b2740ac98f5308ae7a458b5 = L.popup({maxWidth: '100%'
            
            });

            
                var html_b190451055f44629b12259b3629edcae = $(`<div id="html_b190451055f44629b12259b3629edcae" style="width: 100.0%; height: 100.0%;">Prague</div>`)[0];
                popup_90b9e3052b2740ac98f5308ae7a458b5.setContent(html_b190451055f44629b12259b3629edcae);
            

            marker_082f019584d24848b1905d93ac710a5a.bindPopup(popup_90b9e3052b2740ac98f5308ae7a458b5)
            ;

            
        
</script>